table.jCalendar {
	font-weight: bold;
	border-radius:0 0 5px 5px;
    border-collapse: separate;
    border-spacing: 2px;
	font-size:11px;
}
table.jCalendar th {
	color: #cc0000;
	font-weight: bold;
	padding: 3px 5px;
}

table.jCalendar td {
	color: #004276;
	border:1px solid #666;
	padding: 1px 4px;
	text-align: center;
}
table.jCalendar td.other-month {
	background: #FBF8EE;
	color: #aaa;
}
table.jCalendar td.today {
	background: #eee;
	color: #004276;
}
table.jCalendar td.selected {
	background: #f66;
	color: #fff;
}
table.jCalendar td.selected.dp-hover {
	background: #f33;
	color: #fff;
}
table.jCalendar td.dp-hover,
table.jCalendar tr.activeWeekHover td {
	background: #fff;
	color: #004276;
}
table.jCalendar tr.selectedWeek td {
	background: #f66;
	color: #fff;
}
table.jCalendar td.disabled, table.jCalendar td.disabled.dp-hover {
	background: #fff;
	border:1px solid #999;
	color: #ccc;
}
table.jCalendar td.unselectable,
table.jCalendar td.unselectable:hover,
table.jCalendar td.unselectable.dp-hover {
	background: #fff;
	color: #ccc;
}

table.jCalendar td.weekend, table.jCalendar td.weekend:hover {
	background: #ccc;
	color: #000;
}

/* For the popup */

/* NOTE - you will probably want to style a.dp-choose-date - see how I did it in demo.css */

div.dp-popup {
	margin-left:120px;
	position: relative;
	background: #ffffff;
    padding:5px;
	-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
	border: 1px solid #ccc;
	font-size: 10px;
	font-family: arial, sans-serif;
	width: 171px;
	line-height: 1.2em;
}
div#dp-popup {
	position: absolute;
	z-index: 199;
}
div.dp-popup h2 {
	color:#ffffff;
	background: url(../tema/takvim_ust.png);
	font-size: 12px;
	text-align: center;
	margin: 0 0;
	height:18px;
	padding: 5px 0 0 0;
}
a#dp-close {
	font-size: 11px;
	padding: 4px 0;
	text-align: center;
	display: block;
}
a#dp-close:hover {
	text-decoration: underline;
}
div.dp-popup a {
	color: #000;
	text-decoration: none;
	padding: 3px 2px 0;
}
div.dp-popup div.dp-nav-prev {
	position: absolute;
	top: 7px;
	left: 9px;
	width: 100px;
}
div.dp-popup div.dp-nav-prev a {
	float: left;
}
/* Opera needs the rules to be this specific otherwise it doesn't change the cursor back to pointer after you have disabled and re-enabled a link */
div.dp-popup div.dp-nav-prev a, div.dp-popup div.dp-nav-next a {
	cursor: pointer;
}
div.dp-popup div.dp-nav-prev a.disabled, div.dp-popup div.dp-nav-next a.disabled {
	cursor: default;
}
div.dp-popup div.dp-nav-next {
	position: absolute;
	top: 7px;
	right: 9px;
	width: 100px;
}
div.dp-popup div.dp-nav-next a {
	float: right;
}
div.dp-popup a.disabled {
	cursor: default;
	color: #aaa;
}
div.dp-popup td {
	cursor: pointer;
}
div.dp-popup td.disabled {
	cursor: default;
}